
body{
margin: 0;
padding: 0;
font-family: 'Open Sans', sans-serif;
}

h1 {
    font-weight: 800;
    font-size: 64px;
    color: #FFFFFF;
    line-height: 1.15em;
    margin-bottom: 0;
    margin-top: 0;
}

@media screen and (min-width: 1400px) {
    h1 {
    font-size: 5vw;
    }
}

h2 {
    font-weight: 800;
    font-size: 24px;
    color: #717171;
    margin: 0;
    line-height: 36px;
}

h3 {
    font-weight: 300;
    font-size: 21px;
    color: #717171;
    line-height: 34px;
    margin: 0;
}

h4{
    font-weight: 600;
    font-size: 18px;
    color: #717171;
    margin: 0;
    margin-bottom: 9px;
    line-height: 24px;
}

p {
    font-weight: 300;
	font-size: 16px;
	color: #717171;
	line-height: 27px;
	margin: 0;
	margin-bottom: 12px;
}


.line2 {
	color: rgba(255,255,255,.82);
}
.line3 {
	color: rgba(255,255,255,.7);
}
.headline {
    margin-bottom: 6%;
    z-index: 12;
}

.nav-wrapper {
	padding-left: 10px;
    padding-right: 10px;
}

.nav-wrapper a, button, .button {
    font-weight: 700;
	font-size: 12px;
	color: #676767;
	letter-spacing: 2.67px;
	text-transform: uppercase;
}

nav ul li {
    position: relative;
    background-color: inherit;
}

nav ul a:hover {
    background-color: inherit;
    }

.nav-links a:hover:after {
    transition: 2s;
    border-radius: 0.1em;
    bottom: 12px;
    content: '';
    height: 0.25em;
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    width: 83%;
    background-image: linear-gradient(-132deg, rgb(0, 191, 200) 0%, #00C5A2 100%);
}



button, .button {
	border: 1px solid white;
	border-radius: 25px;
    padding: 8px 19px;
	color: white;
	font-weight: 800;
	background-color: transparent;
    margin-right: 12px;

}

.prime {
    background-color: white;
    color: #00BDB2;
}

.prime-green {
    background-color: #00BDB2;
    color: white;
}

.prime-green:focus, .prime:focus{
    background-color: #26a69a;
    color: white;
}


button:hover, .prime:hover{
    box-shadow: 7px 11px 25px 5px rgba(0,0,0,0.1);
    transition: .3s;
	background-color: #1BC1B7;
}

.prime:hover{
    color: white;
}

button:active{
		box-shadow: inset 0px 0px 10px rgba(0,0,0,0.1);
	   transition: .1s;
}

button:focus{
		background-color: transparent;
}

.button {
    background-color: #0EA79E;
}

.button:hover{
    box-shadow: 0px 13px 34px -10px rgba(14, 68, 58, 0.45);
    background-color: #1BC1B7;
    transition: .3s;
    border-color: #1BC1B7;
}

.modal-button{
    text-align: center;
}

.mc-field-group {
    padding-bottom: 11px;
}

/*navigation*/

nav {
    background-color: white;
}

nav img {
    max-width: 280px;
    padding: 17px;
}


#hero {
	background-image: linear-gradient(-132deg, #00B3C8 0%, #00C5A2 100%);
	position: relative;
	overflow: hidden;
    margin-top: -72px;
}
#hero svg {
    width: 100%;
    position: absolute;
    bottom: -1px;
    z-index: 3;
}
.bg-clouds{
	z-index: 1;
    background-repeat: no-repeat; 
  	min-width: 100%;
  }
.bg-clouds img {
	width: 100%;
	height: auto;
    position: absolute;
    bottom: 0;
}

.content-block {
	min-height: 75vh;
	position: relative;
	z-index: 5;
}

.hero-content-block {
    min-height: 100vh;
    position: relative;
    z-index: 3;
}

.intro {
	background-image: linear-gradient(-180deg, rgba(238,238,238,0.00) 0%, #FAFAFA 100%);
	z-index: 2;
	/* Rectangle 12: */
}
.intro-content {
    padding: 22px 0;
}

.intro-text {
    padding: 24px 3%;
    border-top: 2px solid #00BDB2;
    border-bottom: 2px solid #00BDB2;
    position: relative;
}
.intro-text img{
    position: absolute;
    top: -22px;
    left: 0;
    right: 0;
    background-color: white;
    padding: 6px;
    max-width: 51px;
    display: block;
    margin: auto;
}

/*hr {
     border-top: 2px solid #00BDB2;
}

hr.heart:after {
    content: " ";
    background-image: url(images/MaggieG_Mark@2x.png);
    display: inline-block;
    position: relative;
    top: -15px;
    padding: 0 10px;
    background: #fff;
    color: #8c8b8b;
    font-size: 18px;
}
*/

.approach-intro {
margin-bottom: 6% !important;
}

.approach img {
    margin-bottom: 8%;
    max-width: 52px;
}

.border-heart {
/*    border-top: 2px solid #00BDB2;
    border-bottom: 2px solid #00BDB2;*/
    padding: 5%;
}

.border-heart p:after {
    background-image: url("images/MaggieG_Mark@2x.png");
}

.intro p {
    font-style: italic;
    font-weight: 300;
    font-size: 19px;
    color: #717171;
    letter-spacing: .2px;
    line-height: 37px;
}

.intro span{
    font-style: italic;
    font-weight: 600;
    font-size: 19px;
    color: #00BDB2;
    letter-spacing: 0px;
    line-height: 29px;
}

.about {
	position: relative;
}
.about p{
	color: white;
}
.about h2{
	color: white;
}

.about img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 92vh;
}

@media screen and (max-width: 750px) {
    .about img {
        display: none;
    }
}


.overlay {
    background-image: linear-gradient(-132deg, #00B3C8 0%, #00C5A2 100%);
    bottom: 0;
    left: 0;
    opacity: 0.7;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
}

.mags {
	overflow: hidden;
}

.call{
    min-height: 30vh;
    background-image: linear-gradient(-90deg, #3B3758 0%, #7579A8 100%);
    padding-top: 4%;
    padding-bottom: 4%;
}

.call:hover {
    background-image: linear-gradient(-100deg, #374658 0%, #424671 100%);
    transition: .3s;
}

.call-title {
    margin-bottom: 1%;
}

.call h2,.call h3{
    color: white;
}

.card-panel h2, .card-panel p{
    color: white;
    line-height: 24px;
}

.card-panel {
    box-shadow: 4px 7px 32px 0px rgba(0,0,0,0.11);
    min-height: 254px;
}

.grad1 {
    background-image: linear-gradient(47deg, #3C5876 0%, #00B3C8 100%);
    /*min-height: 304px;*/
    border-radius: 8px 0 0 0;

}
.grad2 {
    background-image: linear-gradient(-180deg, #00B3C8 0%, #00C5A2 76%);
    padding-bottom: 33px;
    margin-top: -6px;
    border-radius: 8px 8px 0 0;

}
.grad3 {
    background-image: linear-gradient(47deg, #3C5876 0%, #00B3C8 100%);
    border-radius: 0 8px 0 0;
}

.get-started .row .col {
    padding: 0;
    margin-bottom: 0;
}

.pad-top {
    padding-top: 8%;
}

.title-spacing {
    padding-bottom: 10%;
}

.row {
    margin-bottom: 0;
}

.card-panel {
    margin-bottom: 0;
    padding-top: 13px;
}

.card-panel h2{
    font-size: 17px;
    text-align: left;
    border-bottom: 1px solid white;
    line-height: 29px;
    padding-bottom: 3px;
    margin-bottom: 12px;
}

.cardy {
    padding: 6px 19px;
    margin: 8px 0;
}

.card-panel i{
    color: rgba(255,255,255,.58);
    padding-right: 8px;
}

.card-panel p{
    text-align: left;
    margin-bottom: 13px;
    font-size: 15px;
    text-indent: -10px;
    padding-left: 19px;
    line-height: 19px;
}

.contact {
    background: #3C3939;
    min-height: 50vh;
    position: relative;
}

.contact img {
    position: absolute;
    top: 31px;
    left: 39px;
    opacity: .05;
    width: 48vh;
}

.contact h2{
    color: white;
    font-size: 18px;
    padding-bottom: 8px;
}


.contact p{
    color: white;
    font-size: 3vw;
    font-weight: 800;
    border-bottom: 3px solid;
    display: inline-block;
    padding-bottom: 13px;
}

@media screen and (max-width: 930px) {
    .contact p{
        font-size: 24px;
        padding-bottom: 7px;
    }
}

.contact i{
    color: white;
    font-size: 25px;
    padding-right: 15px;
}

.contact i:hover, .contact p:hover{
    color: #70FFF7;
}

.connect {
    border-left: 1px solid white;
    padding: 0px 0px 17px 24px !important;
}

@media screen and (max-width: 930px) {
    .connect{
    border-left: none;
    padding-left: 10px !important;
    }
}

@media screen and (max-width: 560px) {
.center.col {
    float: none !important;
}
.card-panel {
    margin: 0;
}
.grad1{
    border-radius: 8px 8 0 0;
}     
.grad2,.grad3{
    border-radius: 0;
}     
}

#event-hero{
    background-image: url(http://www.maggiegermano.com/images/Love-Money@2x.png);
    background-position: center;
    background-size: cover;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.event-content-block {
    min-height: 72%;
}

.leader {
    font-weight: 600;
    font-style: italic;
    color: #00BDB2;
}

/*EVENT PAGE*/


.relative {
    position: relative;
}

.center {
    text-align: center;
    margin: auto;
}

.event-title {
    margin-bottom: 50px;
    margin-top: 20px;
}

.event-title h1:after{
    border-radius: 0.1em;
    bottom: 64px;
    content: '';
    height: 6px;
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    width: 72%;
    background-color: white;
}

.event-title h1:before{
    border-radius: 0.1em;
    top: 4px;
    content: '';
    height: 6px;
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    width: 72%;
    background-color: white;
}

.event-content {
    background-color: white;
    padding: 4% 5% !important;
    margin-top: -45px;
    border-radius: 6px;
}

.event-date{
    margin-bottom: 18px;
    font-size: 22px;
}

.ticket{
    padding: 5% 0 3% 0;
    border-top: 1px solid lightgray;
    margin-top: 39px;
}

.ticket h3{
     margin-bottom: 2%;
}

#event-hero img{
    position: absolute;
    top: 87px;
    right: 24px;
    max-width: 200px;
}

@media screen and (max-width: 560px) {
#event-hero img{
    top: 93px;
    left: 0;
    right: 0;
    max-width: 140px;
    margin: auto;
    display: block;
} 
.event-header{
    font-size: 36px;
}
}



/*SUBSCRIBE PAGE*/

.subscribe-content {
    background-color: white;
    padding: 24px;
    margin-top: 19%;
    border-radius: 6px;
    position: relative;
}
.subscribe {
    background-image: linear-gradient(-132deg, rgb(0, 191, 200) 0%, #00C5A2 100%);
}

.subscribe-content img{
    border: 0;
    /* position: absolute; */
    /* top: 0; */
    width: 100%;
    padding-bottom: 20px;
    margin: auto;
}