body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #545454;
    line-height: 32px;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-style: italic;
}

.lead {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-style: italic;
    color: #3EB64D;
    font-size: 26px;
    line-height: 1.8em;
    letter-spacing: .3px;
}

.vert-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*------Nav Bar--------*/

.current {
	color: #3EB64D !important;
}

.nav-top {
	font-size: 24px;
}

.navbar-brand img{
    max-width: 45px;
    float: left;
    margin-top: 8px;

}

.navbar-default {
    background-color: #fff;
    border-color: #3EB64D;
    border-bottom-width: 2px;
    box-shadow: 3px 0px 12px 2px rgba(0, 0, 0, 0.1);
}
.navbar-brand {
    height: inherit;
    padding: 0px 9px;
}

.navbar-nav>li>a{
	padding-top: 21px;
    padding-bottom: 21px;
}

p.logotype{
    float: right;
    margin: 0 0 0 8px;
    padding: 21px 11px;
    font-size: 13px;
    color: #3EB64D;
    text-transform: uppercase;
    letter-spacing: 9px;
}

/*------hero-------*/

.home {
    height: 82vh;
    min-height: 300px;
    margin-top: 63px;
    text-align: center;
    background-image: url(https://c.stocksy.com/a/Rgc200/z0/625359.jpg);
    background-position: center;
    background-size: cover;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: -1;
}

.btn-primary {
    color: #3EB64D;
    background-color: #fff;
    border-color: #3EB64D;
    padding: 10px 26px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 6px;
    line-height: 1.3333333;
    border-radius: 4px;
}

.white-bg {
    background-color: #fff;
    margin-top: 82vh;
}

.intro {
    padding: 104px 0;
}

.nudge {
    margin-top: 12px;
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}
body {
    margin-top: 64px;
}

