

html {
  position: relative;
  min-height: 100%;
}

body {
    font-family: 'Open Sans', arial, sans-serif;
    font-size: 17px;
    color: #545454;
    line-height: 32px;
    font-weight: 300;
    background-image: url(/images/MaggieG_Cover_temp.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 

}

h1 {
    font-weight: 300;
    line-height: 1.2em;
    margin-bottom: 16px;
}

.lead {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-style: italic;
    color: #3EB64D;
    font-size: 26px;
    line-height: 1.8em;
    letter-spacing: .3px;
}

strong {
    font-weight: 600;
}

.vert-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*------Nav Bar--------*/

.current {
	color: #3EB64D !important;
}

.nav-top {
	font-size: 24px;
}

.navbar-brand img{
    max-width: 45px;
    float: left;
    margin-top: 8px;

}

.navbar-default {
    background-color: #fff;
    border-color: #3EB64D;
    border-bottom-width: 2px;
    box-shadow: 3px 0px 12px 2px rgba(0, 0, 0, 0.1);
}
.navbar-brand {
    height: inherit;
    padding: 0px 9px;
}

.navbar-nav>li>a{
	padding-top: 21px;
    padding-bottom: 21px;
}

p.logotype{
    float: right;
    margin: 0 0 0 8px;
    padding: 21px 11px;
    font-size: 13px;
    color: #3EB64D;
    text-transform: uppercase;
    letter-spacing: 9px;
}

/*------hero-------*/

.btn-primary {
    color: #3EB64D;
    background-color: #fff;
    border-color: #3EB64D;
    padding: 10px 26px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 6px;
    line-height: 1.3333333;
    border-radius: 4px;
}

.white-bg {
    background-color: #fff;
    margin-top: 82vh;
}

.intro {
    padding: 104px 0;
}

.nudge {
    margin-top: 12px;
}


.cover-image {
        background-image: url(/images/MaggieG_Cover_temp.png);
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        width: 100%;
        height: 100%;
        color: #FB8A8E;
}

@media screen and (max-width: 930px) {
    .magimage {
        background-image: url(/images/MaggieG_Cover_temp.png);
    }
    body {
        margin-top: 0px !important; 
    }
}

.logo {
    text-align: center;
    margin-top: 8%;
}

.logo img{
    max-width: 345px;
    width: 100%;
}

.maincontent {
    text-align: center;
    color: #fff;
    margin-bottom: 3%;
}

.contact {
    text-align: center;
    margin-bottom: 10%;
}

.mg-btn {
    background-color: #93278F;
    border: none;
    border-radius: 26px;
    color: #fff;
    padding: 7px 27px;
    font-size: 15px;
    letter-spacing: .02em;
    box-shadow: 6px 5px 36px rgba(147,39,143,.6);
}

.mg-btn:hover {
    background-color: #A0319C;
    box-shadow: 6px 5px 44px rgba(147,39,143,1);
    transition: .3s;
    text-decoration: none;
    color: #fff;
}

.mg-btn:active {
    color: #fff;
    text-decoration: none;
    background-color: #561254;
    outline: none;
}

.mg-btn:focus {
    color: #fff;
    text-decoration: none;
}

.sm_icons {
    color: #fff;
}



.footer {
    background-color: #A0319C;
    color: #D26BD2;
    font-size: 11px;
    text-align: right;
    font-weight: 800;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 14px;
    line-height: 23px;
}


.fa {
    font-size: 22px !important;
    padding: 8px;
    margin-top: 13px;
}

.sm_icons a {
    color: #fff;
}
.sm_icons a:hover {
    color: #A0319C;
    transition: .3s;
}
