<div class="audioPlayer">
    // <button class="open" type="button" name="button" id="audioButton"><i class="fas fa-play"></i>play episode</button>
    <iframe id="audioFrame" height="200px" width="100%" frameborder="no" scrolling="no" seamless src="https://player.simplecast.com/523a375c-d6ff-4379-afd8-9b1257b6ea60?dark=false"></iframe>
</div>


<script type="text/javascript">


$(document).ready(function(){
    // var iframe = document.getElementById("audioFrame");
    // var elmnt = iframe.contentWindow.document.getElementsByTagName("play-pause")[0];
    // console.log(elmnt)

  $("#audioButton").click(function(){
    $(".audioPlayer").toggleClass("active");
  });
});

</script>
