
<div class="coach-head">
    <div class="container coach valign-wrapper">
        <div class="coach-content valign">
          <h1 class="animate-from-left-long">One-on-one coaching</h1>
          <p class="animate-from-left-long delay-01">Are you ready to take control of your money so you can live the life you deserve?</p>
          <a href="#sign-up"><button class="animate-from-left-long delay-03" name="Sign Up">Free discovery call</button></a>
        </div>
    </div>
  <img class="animate-from-bottom-quicker coach-arrow blog-arrow delay-04" src="/uploads/down-arrow.png">
  <div class="coach-left-angle animate-left-angle"></div>
  <div class="coach-right-angle animate-right-angle"></div>
  <div class="coach-bottom-angle animate-bottom-angle"></div>
  <div class="coach-bg"></div>
</div>
