
<div class="coach-head">
    <div class="container coach valign-wrapper">
        <div class="coach-content valign">
          <h1 class="an-from-left-long an-step-1">One-on-one coaching</h1>
          <p class="an-from-left-long an-step-2">Are you ready to take control of your money so you can live the life you deserve?</p>
          <a href="#sign-up"><button class="an-from-left-long an-step-3" name="Sign Up">Free discovery call</button></a>
        </div>
    </div>
  <img class="an-from-bottom-quicker coach-arrow blog-arrow an-step-2" src="/uploads/down-arrow.png">
  <div class="coach-left-angle an-left-angle"></div>
  <div class="coach-right-angle an-right-angle"></div>
  <div class="coach-bottom-angle an-bottom-angle"></div>
  <div class="coach-bg"></div>
</div>
