<div class="container">
  <div class="row works-title">
    <h2 class="coach-title">How it all works</h2>
  </div>
    <section class="row works coaching-1">
      <h3>{{ page.coaching-1.p1-title }}</h3>
      <div class="col m4 work-item">
        <img src="{{ page.coaching-1.p1-icon-image }}" alt="{{ page.coaching-1.p1-title }}">
        <h4>{{ page.coaching-1.p1-title }}</h4>
        <p>{{ page.coaching-1.p1-text }}</p>
      </div>
      <div class="col m4 work-item">
        <img src="{{ page.coaching-1.p2-icon-image }}" alt="{{ page.coaching-1.p2-title }}">
        <h4>{{ page.coaching-1.p2-title }}</h4>
        <p>{{ page.coaching-1.p2-text }}</p>
      </div>
      <div class="col m4 work-item">
        <img src="{{ page.coaching-1.p3-icon-image }}" alt="{{ page.coaching-1.p3-title }}">
        <h4>{{ page.coaching-1.p3-title }}</h4>
        <p>{{ page.coaching-1.p3-text }}</p>
      </div>
    </section>
</div>

<div class="angled-bg">
  <div class="container">
      <section class="row works coaching-2">
        <h3>{{ page.coaching-2.p1-title }}</h3>
        <div class="col m4 work-item">
          <img src="{{ page.coaching-2.p1-icon-image }}" alt="{{ page.coaching-2.p1-title }}">
          <h4>{{ page.coaching-2.p1-title }}</h4>
          <p>{{ page.coaching-2.p1-text }}</p>
        </div>
        <div class="col m4 work-item">
          <img src="{{ page.coaching-2.p2-icon-image }}" alt="{{ page.coaching-2.p2-title }}">
          <h4>{{ page.coaching-2.p2-title }}</h4>
          <p>{{ page.coaching-2.p2-text }}</p>
        </div>
        <div class="col m4 work-item">
          <img src="{{ page.coaching-2.p3-icon-image }}" alt="{{ page.coaching-2.p3-title }}">
          <h4>{{ page.coaching-2.p3-title }}</h4>
          <p>{{ page.coaching-2.p3-text }}</p>
        </div>
      </section>
  </div>
</div>

<div class="container">
    <section class="row works coaching-3">
      <h3>{{ page.coaching-3.p1-title }}</h3>
      <div class="col m4 work-item">
        <img src="{{ page.coaching-3.p1-icon-image }}" alt="{{ page.coaching-3.p1-title }}">
        <h4>{{ page.coaching-3.p1-title }}</h4>
        <p>{{ page.coaching-3.p1-text }}</p>
      </div>
      <div class="col m4 work-item">
        <img src="{{ page.coaching-3.p2-icon-image }}" alt="{{ page.coaching-1.p2-title }}">
        <h4>{{ page.coaching-3.p2-title }}</h4>
        <p>{{ page.coaching-3.p2-text }}</p>
      </div>
      <div class="col m4 work-item">
        <img src="{{ page.coaching-3.p3-icon-image }}" alt="{{ page.coaching-1.p3-title }}">
        <h4>{{ page.coaching-3.p3-title }}</h4>
        <p>{{ page.coaching-3.p3-text }}</p>
      </div>
    </section>
</div>
