<div class="options-wrap">
  <div class="container">
    <div class="works-title">
      <h2 class="coach-title">Ways we can work together</h2>
    </div>
      <div class="row option-row">
        <div class="col m6 single-option-wrap">
          <div class="option tstml-content">
            {{ page.option-1-text | markdownify }}
          </div>
          {% if page.is-deepDiverHold == true %}
          <div class="option-banner">
            🌟On Hold until Spring 2021 🌟
          </div>
          {% endif %}
        </div>
        <div class="col single-option-wrap">
          <div class="option tstml-content">
            {{ page.option-2-text | markdownify }}
          </div>
          {% if page.is-coachingHold == true %}
          <div class="option-banner">
            🌟On Hold until Spring 2021 🌟
          </div>
          {% endif %}
        </div>
      </div>
  </div>
  <div class="option-top-angle"></div>
  <div class="option-bottom-angle"></div>
</div>
