<footer id="contact-footer" class="footer">
  <div class="color-over blue-grad footer-topline"></div>
  <img class="footer-heart" src="/uploads/MaggieG_KO_Mark@3x.svg">
  <img class="fec-badge" src="/uploads/fec-badge.png">
  <div class="container footer-wrap">

  <div class="footer-mission">
      <p>Giving women the support and tools they need to take control of their money and achieve their goals. <a href="/coaching/#sign-up">Get Started.</a></p>
  </div>

  <div class="row">
      <div class="col l3  footer-cta footer-contact">
          <h2>Contact</h2>
          <a target="_blank" href="mailto:hello@maggiegermano.com"><p>hello@maggiegermano.com</p></a>
          <a target="_blank" href="https://www.instagram.com/maggiegermano/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
          <a target="_blank" href="https://twitter.com/maggiegermano"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
          <a target="_blank" href="https://www.facebook.com/MaggieGermanoCoaching/?fref=ts"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
          <a target="_blank" href="https://play.spotify.com/user/wakemaggieup/playlist/4G0et7jmndhdeh1y0faegL"><i class="fa fa-spotify" aria-hidden="true"></i></a>
          <a target="_blank" href="https://www.pinterest.com/maggiegermano/"><i class="fa fa-pinterest-square" aria-hidden="true"></i></a>
      </div>
      <div class="col l5  footer-cta">
          <h2>Speaking Engagements</h2>
          <p>Maggie is available for workshops, lectures, panels, and partnerships. <a target="_blank" href="mailto:hello@maggiegermano.com">Reach Out!</a></p>
      </div>
    <div class="col l4  footer-cta">
      <h2>Newsletter</h2>
      <p>Get the latest financial tips and tricks, and news on upcoming events. <a class="modal-trigger" href="#modal-subscribe">Subscribe!</a></p>
    </div>
  </div>
  </div>
  <div class="footer-bp clearfix">
    <div class="left">
      <p class="footer-bp-text">© Maggie Germano Financial Coaching LLC. 2017</p>
    </div>
    <div class="danr-link">
      <p class="footer-bp-text"><a href="http://www.danrdesign.com/">Design & Development by Dan Rader</a></p>
    </div>
  </div>
  <a href="https://www.financialeducatorscouncil.org/financial-literacy-certification/">
  </a>
</footer>
