<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
	      <a class="navbar-brand" href="/index.html">
	        <img alt="Piggy" src="{{site.baseurl}}/images/piggy.png">
	        <p class="logotype">Maggie Germano</p>
	      </a>
	    </div>
	    <div class="collapse navbar-collapse">
	    	<ul class="nav navbar-nav navbar-right">
		    	<!-- <li><a href="{{site.baseurl}}/index.html" class="{% if page.title == 'Home' %}current{% endif %}">Home</a></li> -->
				<li><a href="{{site.baseurl}}/news.html" class="{% if page.title == 'News' %}current{% endif %}">News</a></li>
				<li><a href="{{site.baseurl}}/blog.html" class="{% if page.title == 'Blog' %}current{% endif %}">Blog</a></li>
			</ul>
		</div>
	</div>
</nav>