<!-- <nav>
  <div class="nav-wrapper">
    <a class="brand-logo" href="http://www.maggiegermano.com"><img src="/uploads/MaggieG_Logo@2x.png"></a>
    <div class="nav-links">
      <ul class="right hide-on-med-and-down">
        <li><a href="http://www.maggiegermano.com/#approach">How it works</a></li>
        <li><a href="http://www.maggiegermano.com/#about">Meet the coach</a></li>
        <li><a href="http://www.maggiegermano.com/#contact">Get Started</a></li>
      </ul>
    </div>
  </div>
</nav> -->

<header>
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <a href="http://www.maggiegermano.com" class="brand-logo"><img src="/uploads/MaggieG_Logo@2x.png"></a>
          <a href="#" data-activates="mobile-demo" class="button-collapse burger-time"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down nav-links">
            <li><a href="http://www.maggiegermano.com/#approach">How it works</a></li>
            <li><a href="http://www.maggiegermano.com/#about">Meet the coach</a></li>
            <li><a href="http://www.maggiegermano.com/#contact">Get Started</a></li>
          </ul>

        </div>
      </nav>
    </div>
</header>
