<script type="text/javascript" src="/js/materialize.min.js"></script>


<!-- Smooth scrolling on anchor links. effects any link with a hashtag -->
<script type="text/javascript">
$(document).ready(function(){
	$('a[href^="#"]').on('click',function (e) {
	    e.preventDefault();

	    var target = this.hash;
	    var $target = $(target);

	    $('html, body').stop().animate({
	        'scrollTop': $target.offset().top
	    }, 500, 'swing', function () {
	        window.location.hash = target;
	    });
	});
});
</script>

<!-- mobile menu  -->
<script type="text/javascript">
  $(".button-collapse").sideNav();
</script>

<!-- modal initiation -->
<script type="text/javascript">
$(document).ready(function(){
  $('.modal-trigger').leanModal();
});
</script>
