<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="/js/materialize.min.js"></script>
<script type="text/javascript" src="/js/slick.min.js"></script>
<script type="text/javascript" src="/js/jquery.smoothState.js" ></script>
<!-- <script type="text/javascript" src="/js/animations.js" ></script> -->
<script type="text/javascript" src="/js/jquery-scrolltofixed-min.js" ></script>


<!-- slick carousel  -->
<script type="text/javascript">
  $(document).ready(function(){
  $('.slider').slick({
    dots: true,
    infinite: true,
    speed: 600,
    slidesToShow: 1,
    arrows: true,
    asNavFor: null,
    prevArrow: '<button type="button" data-role="none" class="slick-prev" aria-label="Previous" tabindex="0" role="button">Previous</button>',
    nextArrow: '<button type="button" data-role="none" class="slick-next" aria-label="Next" tabindex="0" role="button">Next</button>',
    adaptiveHeight: true,
    cssEase: 'ease-in-out',
    responsive: [
      {
        breakpoint: 736,
        settings: {
          arrows: false,
        }
      },
    ]
});
});
</script>

<!-- Smooth scrolling on anchor links. effects any link with a hashtag -->
<script type="text/javascript">
$(document).ready(function(){
	$('a[href^="#"]').on('click',function (e) {
	    e.preventDefault();

	    var target = this.hash;
	    var $target = $(target);

	    $('html, body').stop().animate({
	        'scrollTop': $target.offset().top
	    }, 500, 'swing', function () {
	        window.location.hash = target;
	    });
	});
});
</script>

<!-- mobile menu  -->
<script type="text/javascript">
  $(".button-collapse").sideNav();
</script>

<!-- modal initiation -->
<script type="text/javascript">
$(document).ready(function(){
$('.modal-trigger').leanModal();
});
</script>

<!-- <script type="text/javascript">
  document.getElementById("video").playbackRate = .3;
</script> -->

<!-- Scroll to Fix initialization  -->
<script type="text/javascript">
$(document).ready(function() {
  $('#share').scrollToFixed( {
    zIndex: 3,
    marginTop: $('#header').outerHeight() + 150,
    limit: $('#author').offset().top - 140,
    preFixed: function() { $(this).css('opacity', '1'); },
    preAbsolute: function() { $(this).css('opacity', '.3'); },
    preUnfixed: function() { $(this).css('opacity', '.3'); },
});
});
</script>

<!-- DISQUS -->
<script>

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = '//maggiegermano-com.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
