<div id="event-hero" class="bg-cover" style="background-image: url('{{ page.image }}');">
	<div class="color-over blue-grad">



    {% if page.is-money-circle == true %}
		<img src="/uploads/MoneyCircleLogo@2x.png">
    {% else %}
    {% endif %}

		<div class="container event-content-block valign-wrapper">
			<section class="valign center">
				<div class="">
					<div class="event-title">
						<h1 class="event-header">{{ page.title }}</h1>
					</div>
				</div>
				<a target="_blank" href="{{ page.button-link }}"><button class="space-top">{{ page.button-text }}</button></a>


			</section>
		</div>
	</div>
</div>
