<div class="container blog-list-wrapper">

{% for post in site.posts %}
  {% assign loopindex = forloop.index | modulo: 6 %}

  {% if loopindex == 1 %}
    <div class="row blog-list"> {% include blog/list-item.html %}
  {% elsif loopindex == 2 %}
    {% include blog/list-item.html %}
  {% elsif loopindex == 3 %}
    {% include blog/list-item.html %} </div>

  {% elsif loopindex == 4 %}
    <div class="row blog-list push"> {% include blog/list-item.html %}
  {% elsif loopindex == 5 %}
    {% include blog/list-item.html %}
  {% elsif loopindex == 0 %}
    {% include blog/list-item.html %} </div>
  {% endif %}

  {% if forloop.last == true %}
    </div>
  {% endif %}

{% endfor %}

</div>

{% for posts in site.posts %}
  {% assign loopindex = forloop.index | modulo: 3 %}

  {% if loopindex == 1 %}
    <div> {{ forloop.index | modulo: 3 }}
  {% elsif loopindex == 2 %}
    {{ forloop.index | modulo: 3 }}
  {% elsif loopindex == 3 %}
    {{ forloop.index | modulo: 3 }} </div>

  {% elsif loopindex == 4 %}
    <div class="push"> {{ forloop.index | modulo: 3 }}
  {% elsif loopindex == 5 %}
    {{ forloop.index | modulo: 3 }}
  {% elsif loopindex == 0 %}
    {{ forloop.index | modulo: 3 }} </div>

  {% endif %}
{% endfor %}

{% for posts in site.posts %}
{{ forloop.index | modulo: 6 }}
{% endfor %}

<!-- {% for post in site.posts %}
  {% assign loopindex = forloop.index | modulo: 2 %}
  {% if loopindex == 1 %}
    <div>
      <a href="{{ post.url }}">{{ post.title }}</a>
  {% else %}
      <a href="{{ post.url }}">{{ post.title }}</a>
    </div>
  {% endif %}
{% endfor %} -->

<!-- <div class="container blog-list-wrapper">


  <div class="row blog-list">
    {% for post in site.posts limit:3 %}
    <div class="col m4">
      <a href="{{ post.url | prepend: site.baseurl }}">
       <section class="blog-list-item">
         <div class="blog-list-image cover" style="background-image: url('{{ post.image }}');">
         </div>
         <div class="blog-list-content">
           {% include home/list-cat-2.html %}
           <h3>{{ post.title }}</h3>
         </div>
       </section>
      </a>
    </div>
    {% endfor %}
  </div>

  <div class="row blog-list push">
    {% for post in site.posts limit:3 offset:3 %}
    <div class="col m4">
      <a href="{{ post.url | prepend: site.baseurl }}">
       <section class="blog-list-item">
         <div class="blog-list-image cover" style="background-image: url('{{ post.image }}');">
         </div>
         <div class="blog-list-content">
           {% include home/list-cat-2.html %}
           <h3>{{ post.title }}</h3>
         </div>
       </section>
      </a>
    </div>
    {% endfor %}
  </div>

</div> -->

<!-- <div class="container">
  <div class="row">
    {% for post in site.posts offset: 1 %}
        <a href="{{ post.url | prepend: site.baseurl }}">
          <section class="blog-item col l10 offset-l1 m10 offset-m1 s12 ">
              {% include blog/list-categories.html %}
            <h2>{{ post.title }}</h2>
            <p>{{ post.excerpt | truncatewords:25 | strip_html }}</p>
            <div class="read-button">
                <i class="text-button fa fa-long-arrow-right" aria-hidden="true"></i>
                <p>Read Article</p>
            </div>
          </section>
        </a>
      {% endfor %}
  </div>
</div> -->
