{% for post in site.posts limit: 1 %}
<a href="{{ post.url | prepend: site.baseurl }}">
  <div class="cover blog-feature-image" style="background-image: url('{{ post.image }}');">
      <div class="color-over blog-feature">
        <div class="blog-feature-text">
          <div class="blog-name blog-space">
            <img src="/uploads/MaggieG_KO_Mark@3x.svg">
            <h1>blog</h1>
          </div>
         <h2>{{ post.title }}</h2>
         <p class="feature-excerpt">{{ post.excerpt | truncatewords:35 | remove: '<p>' | remove: '</p>'| strip_html  }}</p>
        <button type="button" name="Read">Read the Article</button>
        </div>
      </div>
    <img class="blog-arrow" src="/uploads/down-arrow.png">
  </div>
</a>
{% endfor %}
