<div class="container">
  <div class="row">
    {% for post in site.posts offset: 1 %}
        <a href="{{ post.url | prepend: site.baseurl }}">
          <section class="blog-item col l10 offset-l1 m10 offset-m1 s12 ">
              {% include blog/list-categories.html %}
            <h2>{{ post.title }}</h2>
            <p>{{ post.excerpt | truncatewords:25 | strip_html }}</p>
            <div class="read-button">
                <i class="text-button fa fa-long-arrow-right" aria-hidden="true"></i>
                <p>Read Article</p>
            </div>
          </section>
        </a>
      {% endfor %}
  </div>
</div>
