@keyframes from-left {
  0% {
    opacity: 0;
    transform: translateX(-4rem);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes from-bottom {
  0% {
    opacity: .2;
    transform: translateY(4rem);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes clouds {
  0% {
    transform: translateY(2rem);
  }
  100% {
    transform: none;
  }
}
@keyframes left-angle {
  0% {
    transform: rotate(23deg) translateY(4rem);
  }
  100% {
    transform: rotate(23deg) translateY(0);
  }
}
@keyframes right-angle {
  0% {
    transform: rotate(-8deg) translateY(4rem);
  }
  100% {
    transform: rotate(-8deg) translateY(0);
  }
}
@keyframes bottom-angle {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-4deg);
  }
}
@keyframes mc-circle {
  0% {
    transform: translateY(2rem);
  }
  100% {
    transform: translateY(0);
  }
}

.an-from-left {
  animation: from-left 1.2s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
  opacity: 0;
}

.an-from-left-long {
  animation: from-left 1.5s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
  opacity: 0;
}

.an-from-bottom {
  animation: from-bottom 2.3s ease-out forwards;
  opacity: 0;
}

.an-from-bottom-quicker {
  animation: from-bottom 1s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
  opacity: 0;
}

.an-clouds {
  animation: clouds 2s ease-out forwards;
}


.an-left-angle {
  animation: left-angle 2.5s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
}
.an-right-angle {
  animation: right-angle 1.5s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
}
.an-bottom-angle {
  animation: bottom-angle 2s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
}

.an-mc-circle {
  animation: mc-circle 1.5s cubic-bezier(0, 0.9, 0.26, 1.07) forwards;
}



// Reusable pieces

.an-step-1 {
  animation-duration: 1.6s;
}
.an-step-2 {
  animation-duration: 1.5s;
}
.an-step-3 {
  animation-duration: 1.4s;
}
.an-step-4 {
  animation-duration: 1.3s;
}

// delays
.delay-01 {
  animation-delay: .1s;
}
.delay-02 {
  animation-delay: .2s;
}
.delay-03 {
  animation-delay: .3s;
}
.delay-04 {
  animation-delay: .4s;
}
.delay-05 {
  animation-delay: .5s;
}
.delay-06 {
  animation-delay: .6s;
}
.delay-07 {
  animation-delay: .7s;
}
.delay-1 {
  animation-delay: 1s;
}
.delay-15 {
  animation-delay: 1.5s;
}
.delay-2 {
  animation-delay: 2s;
}
