.blog-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(24px, auto);
    grid-column-gap: 24px;
    grid-row-gap: 48px;
    align-content: start;
    overflow: none;
    height: 100%;

    @media #{$media-max-tablet}{
        grid-row-gap: 16px;
    }

    & .list-item {
        grid-column: span 4;
        will-change: transform;

        @media #{$media-max-l}{
            grid-column: span 6;
        }

        @media #{$media-max-tablet}{
            grid-column: span 12;
        }

        // &:nth-child(5n+5){
        //     grid-column: span 8;
        //
        //     @media #{$media-max-tablet}{
        //         grid-column: span 12;
        //     }
        // }
    }

    > div {
        justify-self: start;
        width: 100%;
    }
    // @media #{$media-max-m}{
    //     margin-right: 32px;
    //     margin-left: 32px;
    //     grid-column-gap: 16px;
    //     grid-row-gap: 16px;
    // }
}

.controls {
    margin: 21px;
    border-bottom: 1px solid #bdbdbd;
    z-index: 14;
    position: relative;
    padding: 24px;
    text-align: center;

    .mixitup-control-active {
        background-color: #f4f4f4;
    }

    & button {
        font-weight: 700;
        font-size: 11px;
        line-height: 19px;
        letter-spacing: 2.67px;
        text-transform: uppercase;
        color: $grey;
        background-color: transparent;
        padding: 4px 10px;
        border: none;
        border-radius: 25px;
        transition: .3s ease-in-out;
        position: relative;
        margin: 4px;

        &:hover {
            background-color: #f2f2f2;
            box-shadow: none;
        }

        }

}



.blog-image {
  min-height: 200px;
}

.blog-feature-wrap {
  border: 21px solid white;
  position: relative;
  overflow: hidden;
  background-color: #2c2c2c;
  margin-bottom: -104px;
    @media #{$media-max-tablet}{
      border: 8px solid white;
    }
}

img.blog-arrow {
    position: absolute;
    display: block;
    bottom: 43px;
    left: 0;
    right: 0;
    margin: auto;
    height: 96px;
    width: 32px;
    padding-left: 2px;
    @media #{$media-max-tablet}{
      display: none;
    }
}

.black-overlay {
    background-color: rgba(0, 0, 0, 0.62);
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 2;
    height: 100%;
}

@media #{$media-max-tablet}{
  .feature-excerpt {
    display: none;
  }
}
.blog-space {
  margin-bottom: 2vh;
  margin-top: -8vh;
}


.blog-name h1,img,h2{
  display: inline-block;
}

.blog-name img{
  width: 20px;
  margin-top: -5px;
  margin-right: 4px;
}

.blog-name > h1,.blog-name > h2 {
  font-weight: 900;
  font-size: 16px;
  letter-spacing: 6px;
  text-transform: uppercase;
}

.blog-feature-text {
  width: 64%;
  max-width: 700px;
  margin: auto;
  text-align: center;
  z-index: 3;
  @media #{$media-max-tablet}{
    width: 76%;
  }
}

  @media #{$media-max-tablet}{
    .blog-feature-text button {
      margin-top: 6%;
    }
  }

.blog-feature-text > h2 {
  font-family: 'Playfair Display', serif;
  color: white;
  font-size: 44px;
  line-height: 55px;
  text-shadow: 5px 5px 17px rgba(0, 0, 0, 0.71);
  margin-bottom: 1vh;
    @media #{$media-max-tablet}{
      font-size: 37px;
      line-height: 45px;
    }
}

.blog-feature-text > p {
  color: white;
  font-weight: 400;
  text-shadow: 2px 2px 11px rgba(0, 0, 0, 0.43);
  letter-spacing: .3px;
  margin-bottom: 4vh;
}

.mixitup-page-list {
    text-align: center;
    margin-top: 64px;
    margin-bottom: 16px;

    button {
        font-weight: 700;
        font-size: 11px;
        line-height: 19px;
        letter-spacing: 2.67px;
        text-transform: uppercase;
        color: $grey;
        background-color: transparent;
        padding: 4px 8px 4px 10px;
        border: none;
        border-radius: 6px;
        transition: .2s ease-in-out;
        position: relative;
        margin: 4px;

        &:hover {
            background-color: #f2f2f2;
            box-shadow: none;
        }
    }

    .mixitup-control-active {
        background-color: $darkest-grey;
        color: white;
        transition: .2s ease-in-out;

        &:hover {
            background-color: $mid-grey;
            box-shadow: none;
        }
    }
}

#scrollCats {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 120px;
    width: 100%;

}
