
.blog-image {
  min-height: 200px;
}

.blog-feature-wrap {
  border: 21px solid white;
  position: relative;
  overflow: hidden;
  background-color: #2c2c2c;
    @media #{$media-max-tablet}{
      border: 8px solid white;
    }
}

img.blog-arrow {
    position: absolute;
    display: block;
    bottom: 43px;
    left: 0;
    right: 0;
    margin: auto;
    height: 96px;
    width: 32px;
    padding-left: 2px;
    @media #{$media-max-tablet}{
      display: none;
    }
}

.black-overlay {
    background-color: rgba(0, 0, 0, 0.62);
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 2;
    height: 100%;
}

@media #{$media-max-tablet}{
  .feature-excerpt {
    display: none;
  }
}
.blog-space {
  margin-bottom: 2vh;
}


.blog-name h1,img,h2{
  display: inline-block;
}

.blog-name img{
  width: 20px;
  margin-top: -3px;
  margin-right: 4px;
}

.blog-name > h1,.blog-name > h2 {
  font-weight: 900;
  font-size: 16px;
  letter-spacing: 6px;
  text-transform: uppercase;
}

.blog-feature-text {
  width: 64%;
  max-width: 700px;
  margin: auto;
  text-align: center;
  z-index: 3;
  @media #{$media-max-tablet}{
    width: 76%;
  }
}

  @media #{$media-max-tablet}{
    .blog-feature-text button {
      margin-top: 6%;
    }
  }

.blog-feature-text > h2 {
  font-family: 'Playfair Display', serif;
  color: white;
  font-size: 44px;
  line-height: 55px;
  text-shadow: 5px 5px 17px rgba(0, 0, 0, 0.71);
  margin-bottom: 1vh;
    @media #{$media-max-tablet}{
      font-size: 37px;
      line-height: 45px;
    }
}

.blog-feature-text > p {
  color: white;
  font-weight: 400;
  text-shadow: 2px 2px 11px rgba(0, 0, 0, 0.43);
  letter-spacing: .3px;
  margin-bottom: 4vh;
}
