
#event-hero{
    background-position: center;
    background-size: cover;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.event-content-block {
    min-height: 72vh;
    @media #{$media-max-tablet}{
      min-height: 64vh;
    }
}

.event-content img{
    // width: 100%;
    height: auto;
    padding: 3% 0 5% 0;
}

.event-title {
    margin-bottom: 50px;
    margin-top: 20px;
    position: relative;
    @media #{$media-max-tablet}{
    margin-bottom: 26px;
      }
}

.event-title h1:after{
    border-radius: 0.1em;
    bottom: -23%;
    content: '';
    height: 6px;
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    width: 72%;
    background-color: white;
      @media screen and (max-width: 992px){
        display: none;
      }
}

.event-title h1:before{
    border-radius: 0.1em;
    top: -15%;
    content: '';
    height: 6px;
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    width: 72%;
    background-color: white;
    @media screen and (max-width: 992px){
      display: none;
    }
}

.event-content {
    background-color: white;
    padding: 4% 5% !important;
    margin-top: -45px;
    border-radius: 6px;
    & a {
      text-decoration: none;
      color: $maggie-green;
      font-weight: 700;
      transition: .3s;
      &:hover {
        color: $maggie-green-dark;
      }
    }
    & ul {
      margin-top: 10px;
      margin-bottom: 15px;
    }

    & ul li {
      color: $maggie-green;
      list-style-type: disc;
    }
}

.event-date{
    margin-bottom: 18px;
    font-size: 22px;
}

.ticket{
    padding: 5% 0 3% 0;
    border-top: 1px solid lightgray;
    margin-top: 39px;
}

.ticket h3{
     margin-bottom: 2%;
}

#event-hero img{
    position: absolute;
    top: 87px;
    right: 24px;
    max-width: 200px;
}

@media screen and (max-width: 560px) {
#event-hero img{
    top: 93px;
    left: 0;
    right: 0;
    max-width: 140px;
    margin: auto;
    display: block;
}
}


.event-header{
  @media #{$media-max-tablet}{
    font-size: 36px;
  }
}
