.money-circle-hero {
  background-image: url("/uploads/money-circle-hero-image@2x.png");
  position: absolute;
  z-index: 0;
}

.hero-height {
  height: 64vh;
  min-height: 600px;
  z-index: 2;
  position: relative;
  @media #{$media-max-tablet}{
    padding: 0 8%;
    min-height: inherit;
  }
}

.bottom-circle {
  position: absolute;
  bottom: -32px;
  z-index: 5;
  @media #{$media-max-tablet}{
    bottom: -6px;
    max-width: 159%;
    left: -25%;
    }
}

.moneycircle-copy {
  padding-bottom: 8%;
  overflow: hidden;
}

.mc-combo {
  margin: auto;
  text-align: center;
}

.mc-combo > svg {
  display: block;
  max-width: 100%;
  margin: auto;
  margin-top: -87px;
  @media #{$media-max-tablet}{
    margin-bottom: -10px;
    margin-top: -57px;
  }
}

.mc-content-wrap {
  position: relative;
}

.mc-content {
  position: relative;
  z-index: 5;
  @media #{$media-max-tablet}{
    padding: 5px 33px 165px !important
  }
}

.mc-content > h2 {
  font-family: 'Playfair Display', serif;
  color: $grey;
  font-size: 32px;
  line-height: 39px;
  margin-bottom: 10px;
}

.mc-highlight-title {
    text-align: center;
    margin-bottom: 4%;
  }

.mc-highlight {
  background-color: $blue-grey;
  padding: 8% 0;
  @media #{$media-max-tablet}{
      padding: 14% 0;
    }
}

.mc-highlight-box {
  border: 1px solid gray;
  background-color: white;
  padding: 50px !important;
  position: relative;
  transition: .3s ease-out;
  @media #{$media-max-tablet}{
    padding: 42% 25px 25px 25px !important;
  }
  &:hover {
    border: 1px solid $maggie-green;
    box-shadow: 0px 28px 67px -21px rgba(13, 138, 131, 0.43);
    transform: translateY(-2px);
  }
  &:hover > .mc-highlight-photo {
    max-width: 100%;
    position: absolute;
    left: 0;
  }
  &:hover > .mc-highlight-copy h2, &:hover > .mc-highlight-copy h3, &:hover > .mc-highlight-copy p, &:hover > .mc-highlight-copy i {
    color: white;
  }
}


.mc-highlight-title > h2{
  font-family: 'Playfair Display', serif;
  color: $grey;
  font-size: 32px;
  line-height: 39px;

}

.mc-highlight-title > h3{
  font-weight: 700;
  font-size: 12px;
  color: $grey;
  letter-spacing: 3.86px;
  text-transform: uppercase;
  transition: .5s ease-out;
}

.mc-highlight-photo {
  max-width: 25%;
  position: absolute;
  left: 75%;
  z-index: 1;
  transition: .3s ease-in-out;
    @media #{$media-max-tablet}{
      max-width: 100%;
      bottom: 78%;
      left: 0;
    }
}

.mc-highlight-copy {
  width: 75%;
  z-index: 5;
  position: relative;
    @media #{$media-max-tablet}{
      width: 100%;
    }
}

.mc-highlight-copy > h3 {
  font-size: 16px;
  color: $mid-grey;
  line-height: 18px;
  font-weight: 300;
  margin-bottom: 2%;
  transition: .2s ease-out;
}

.mc-highlight-copy > h2 {
  font-size: 35px;
  line-height: 41px;
  color: $darkest-grey;
  letter-spacing: 0;
  font-weight: 300;
  margin-bottom: 2%;
  transition: .2s ease-out;
}

.mc-highlight-copy > p {
    transition: .2s ease-out;
  }

.mc-highlight-copy i {
      transition: .2s ease-out;
    }


  @media #{$media-max-tablet}{
    .illo-circle {
      position: absolute;
      bottom: -171px;
      z-index: 0;
      left: 0;
      right: 0;
    }
    .illo-circle img {
      width: 100%;
      max-width: 341px;
      margin: auto;
    }
    .mc-next {
      margin: 0 1% !important;
    }
    .mc-highlight-box:hover > .mc-highlight-copy p, .mc-highlight-box:hover > .mc-highlight-copy h2, .mc-highlight-box:hover > .mc-highlight-copy h3, .mc-highlight-box:hover > .mc-highlight-copy i {
      color: $darkest-grey;
    }
  }
