// post type

.post-title {
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  font-size: 44px;
  line-height: 55px;
  color: $grey;
  padding-bottom: 9px;
  letter-spacing: 0;
  @media #{$media-max-tablet}{
    font-size: 41px;
    line-height: 50px;
  }
}

.post-content, .podcastPost-content {
    h2 {
    font-size: 20px;
    margin-top: 21px;
    }

    p {
      font-size: 17px;
      line-height: 32px;
      color: $grey;
    }
    a {
      text-decoration: none;
      color: $maggie-green;
      font-weight: 700;
      transition: .3s;
      &:hover {
        color: $maggie-green-dark;
      }
    }
  ul {
    margin-top: 10px;
    margin-bottom: 15px;
  }

  > ul li {
    color: $maggie-green;
    list-style-type: disc;
  }

  hr {
      margin: 54px 0 34px;
  }

}



blockquote {
  border-left: 0;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  padding: 56px 3.5rem;
  margin: 28px 0;
    @media #{$media-max-tablet}{
      padding: 24px 1rem;
    }
}

blockquote > p {
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-size: 32px !important;
  font-weight: 900;
  text-align: center;
  letter-spacing: 0;
  line-height: 50px !important;
  color: $maggie-green !important;
  max-width: 600px;
  margin: 0 auto;
}

// post layout

.post-content, .post-title-container {
    width: 60%;
    @media #{$media-max-l}{
      width: 80%;
    }
    @media #{$media-max-tablet}{
      width: 90%;
    }

}

// post header styles

.post-title-sec {
  padding-bottom: 30px;
    @media #{$media-max-tablet}{
      padding-left: 2%;
      padding-right: 2%;
    }
}
.white-grad {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1) 100%), no-repeat;
  height: 35vh;
  @media #{$media-max-tablet}{
    height: 13vh;
  }
}
#hero-post {
  background-position: center;
  background-size: cover;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  opacity: .3;
}

// Author
.author {
  font-style: italic;
  font-weight: 700;
  color: $mid-grey;
  font-size: 16px;
    @media #{$media-max-tablet}{
      font-size: 15px;
      line-height: 18px;
    }
}

.author > hr {
  margin-top: 5%;
}

.author-name {
  font-size: 17px;
  line-height: 27px;
  font-weight: 900;
}

.author-desc {
  font-size: 15px;
  line-height: 21px;
}

.author-sec {
  margin: auto;
  max-width: 485px;
}

.author-image {
  height: 94px;
  width: 94px;
  border-radius: 50%;
  float: left;
  background-position: center;
  background-size: cover;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border: 2px solid #f2f2f2;
  margin-right: 20px;
  margin-bottom: 20px;
}

.author-name {
  padding-top: 5px;
}

// Related Posts
.related-posts {
  background-color: $blue-grey;
  padding: 5% 0;
  position: relative;
  overflow: hidden;
}

img.related-arrow {
    opacity: 0.3;
    height: 16% !important;
    bottom: -3% !important;
  }

.related-title {
  margin-top: 0;
  & h2 {
    font-size: 15px !important;
    margin-left: 5px;
    letter-spacing: 5px !important;
    color: $mid-grey;
  }
}

.privacy--wrap{
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 8%;
  padding-right: 8%;
  @media #{$media-max-tablet}{
    padding-top: 8%;
    padding-bottom: 8%;
    padding-left: 2%;
    padding-right: 2%;
  }

  & h1 {
      font-family: 'Playfair Display', serif;
      font-weight: 900;
      font-size: 44px;
      line-height: 55px;
      color: #575757;
      padding-bottom: 9px;
      letter-spacing: 0;
  }
}
