.subscribe {
    background-image: linear-gradient(-132deg, rgb(0, 191, 200) 0%, #00C5A2 100%);
}

.sub-box {
  margin-bottom: 24px;
}

.subscribe-content {
    background-color: white;
    padding: 24px;
    border-radius: 6px;
    position: relative;
}

.subscribe-content img{
  border: 0;
  width: 86%;
  margin: auto;
  display: block;
  @media #{$media-max-tablet}{
    width: 100%;
  }
}
.subscribe-content p {
  font-size: 15px;
  line-height: 26px;
  margin: 2% 0 4%;
}

.subscribe-container {
    min-height: 90vh;
    display: flex;
    align-items: center;
  }

input {
  height: 2.5rem !important;
}

// new popup


#popup {
    max-height: none;
    width: 60%;
    border-radius: 3px;
    max-width: 900px;
    @media #{$media-max-tablet}{
      width: 95%;
    }
  }

.popup-wrap{
  background-color: white;
  padding: 4%;
  border-radius: 1px;
  position: relative;
}

.popup-content {
  border: 4px solid #B59661;
  padding: 5% 5% 5% 34%;
  z-index: 1;
  position: relative;
}

.popup--whiteborder {
  border-top:    4px solid white;
  border-bottom: 4px solid white;
  border-left:   4px solid white;
  padding: 5% 0 5% 5%;
  height: 100%;
  z-index: 3;
  position: relative;
}

.popup-content > h2 {
  font-family: 'Playfair Display', serif;
  font-size: 32px;
  color: $darkest-grey;
  line-height: 42px;
  margin-bottom: 4%;
  @media #{$media-max-tablet}{
    font-size: 31px;
  }
}

.popup-content > p {
  margin-bottom: 5%;
}

.popup--x_wrap{
  position: absolute;
  top: -19px;
  right: -21px;
  background-color: white;
  padding: 10px 12px;
}

.popup--x {
  color: $maggie-gold;
  font-size: 18px;
  transition: all .2s ease-out;
  &:hover {
    color: lighten($maggie-gold,5%);
    transform: scale(1.1);
  }
}


.popup--image-wrap{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 28%;
  z-index: 2;
  padding: 4% 0 4% 4%;
  box-shadow: 6px 0px 19px rgba(43, 29, 4, 0.32);
  overflow: hidden;
}

.popup--image {
  background-image: url(/uploads/popup_piggie.jpg);
  position: absolute;
  width: 120%;
  background-position: 64% 75%;
}

.popup--field {
  padding: 0 16px 0 0 !important;
  margin-bottom: 5%;
}

.popup--btn {
  width: 100%;
  background-color: $maggie-gold;
  &:hover {
    background-color: lighten($maggie-gold,5%);
    box-shadow: 2px 14px 40px -5px rgba(113, 97, 69, 0.53);
  }
  &:focus {
    background-color: lighten($maggie-gold,5%);
    box-shadow: 2px 14px 40px -5px rgba(113, 97, 69, 0.53);
  }
}
