.course-wrap {
  width: 40%;
  margin: 10% auto;
  max-width: 500px;
}

.course-wrap p {
  font-size: 17px;
  line-height: 32px;
  color: #575757;
}

p.course--description {
}

.course--bg {
  position: absolute;


}
.course--bg__left {
  top: 0;
  left: 0;
}
.course--bg__right {
  top: 0;
  right: 0;
}
