// utils
.max-width-4 {
    max-width: 80rem;
    margin: auto;
}
.mb2 {
    margin-bottom: 2rem;
}

.flex-height-row {
    display: flex;
}

.border-left {
    border-left: 1px solid white;
}
.border-right {
    border-right: 1px solid white;
}

.gridy {
    position: relative;
    margin: 0;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-auto-rows: minmax(60px, auto);
    grid-column-gap: 0;
    grid-row-gap: 0;
    align-content: start;
    border-bottom: 1px solid white;

    & .img-feature {
        object-fit: cover;
        height: 100%;
        width: 100%;
        border: 12px solid white;
    }
}

.two-one {
    grid-template-columns: 2fr 1fr;
}
.one-two {
    grid-template-columns: 1fr 2fr;
}
.fiddyfiddy {
    grid-template-columns: 1fr 1fr;
}
.one {
    grid-template-columns: 1fr;
}
.singles {
    grid-template-columns: 1fr 1fr 1fr;
}



// utils


.speaking-wrap {
background-image: linear-gradient(-214deg, #00B3C8 0%, #00C5A2 53%, #00B3C8 100%);
    min-height: 100vh;

    & .row {
        border-bottom: 1px solid white;
    }
    & .border-left {
        border-left: 1px solid white;
    }
    & p {
        color: white;
        line-height: 34px;
    }
    & h1, h2 {
        font-size: 62px;
        font-weight: 300;
        color: white;
        line-height: 1.2;
        margin-bottom: 2rem;
    }
    & h1 {
        font-size: 80px;
    }
}

.intro-wrap {
    padding: 8% !important;
    & p {
        margin-bottom: 2rem;
    }
}

.workshop-wrap {
    padding: 8% !important;
}


.content-innerWrap {
    min-height: 450px;
    display: flex;
    align-items: center;
    padding: 4% !important;
}

.img-cover {
    padding: 0 !important;
    border: 12px solid white;
    overflow: hidden;
    background-color: green;

    & img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
}

.logo-wrap {
    padding: 6rem;
    & h2 {
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 4px;
        font-size: 18px;
        line-height: 12px;
        margin-top: 1.5rem;
    }
}
.logo-list {
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
    align-items: center;
    & a {
        padding: 3%;
    }

}

.hidden {
    display: none;
}

.form-wrap {
    padding: 4rem 0;
    max-width: 38rem;
    margin: auto;
}

#speaker_contact {
    text-align: left;
    color: white;
    font-weight: 500;

    & col {
        margin: 0;
    }

    & input, textarea {
        border: 1px solid #FFFFFF;
        width: 100%;
        background-color: transparent;
        margin: 0 0 1rem 0;
        padding: 1.7rem 1.5rem;
        box-sizing: border-box;
        height: 4rem;

        &::placeholder{
            color: #ffffff8a;
            font-weight: 100;
        }
        &:focus{
            outline: none;
        }
    }
    & textarea {
        height: inherit;

    }
    #Form-submit {
        width: auto;
        text-align: center;
        margin: 2rem auto;
        display: block;
        padding: 8px 28px;
    }
    & label {
        font-size: 13px;
        color: white;
        letter-spacing: 2.17px;
        text-transform: uppercase;
        margin-bottom: 1rem;
        font-weight: 600;
        line-height: 34px;
    }

}

.quote-wrap {
    flex-direction: column;
    margin: 16px 0 32px;

    & .testi-quote {
        font-size: 27px;
        line-height: 40px;
        color: #FFFFFF;
        text-align: center;
    }
    & .testi-quote_name {
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 4px;
        font-size: 18px;
        line-height: 12px;
        margin-top: 1.5rem;
    }
    & .org {
        font-size: 14px;
        margin: 0;
    }
    & img {
        width: 2rem;
        margin: 1.5rem 0;
    }
    & .flip {
        transform: rotate(180deg);
    }

}
