<div class="mc-wrap">
<div class="cover an-bg-position money-circle-hero"></div>
    <div class="color-over blue-grad hero-height">
      <div class="mc-combo container">
                {% include /svg/money-circle-logo2.svg %}

        <!-- <a href="#save-the-date"><button type="button" name="Read" class="an-from-top-mc an-step-3 two-button">Attend an Event</button></a> -->
        <a target="_blank" href="https://money-circle.mn.co/"><button type="button" name="Read" class="an-from-top-mc an-step-3 d two-button">Join the Community</button></a>
      </div>
    </div>
  <img class="an-mc-circle bottom-circle" src="/uploads/money-circle-hero2@2x.png" />
</div>
