
<div class="cover money-circle-hero">
    <div class="color-over blue-grad hero-height">
      <div class="mc-combo container">
                {% include /svg/money-circle-logo.svg %}

        <a href="#save-the-date"><button type="button" name="Read" class="two-button"><i class="fa fa-ticket fa-fw button-fa" aria-hidden="true"></i>Attend an Event</button></a>
        <a target="_blank" href="https://www.facebook.com/groups/MoneyCircleGroup/"><button type="button" name="Read" class="two-button"><i class="fa fa-facebook-square fa-fw button-fa" aria-hidden="true"></i>Join the Group</button></a>
      </div>
    </div>
  <img class="bottom-circle" src="/uploads/money-circle-hero@2x.png" />
</div>
