<div class="related-posts">
  <div class="container">
    <div class="center blog-name blog-list-space related-title">
      <img src="/uploads/MaggieG_Mark@2x.png">
      <h2>Related posts</h2>
    </div>
    <div class="row blog-list">
      {% for post in page.posts limit:3 %}
        {% assign post-title = post | downcase %}
          {% for site-post in site.posts %}
            {% assign site-post-title = site-post.title | downcase %}
                {% if post-title == site-post-title  %}
                  <div class="col m4">
                    <a href="{{ site-post.url | prepend: site.baseurl }}">
                     <section class="blog-list-item">
                       <div class="blog-list-image cover" style="background-image: url('{{ site-post.image }}');">
                       </div>
                       <div class="blog-list-content">
                         {% include posts/categories2.html %}
                         <h3>{{ site-post.title }}</h3>
                       </div>
                     </section>
                    </a>
                  </div>
              {% endif %}
            {% endfor %}
          {% endfor %}
        </div>
  </div>
  <img class="blog-arrow related-arrow" src="/uploads/down-arrow_gray.png">
</div>
