<div id="share" class="share">
  <ul>
    <!-- <li><a target="_blank" href="https://twitter.com/home?status={{ page.tweet }}%20{{ site.url }}{{ page.url }}"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li> -->
    <li><a href="https://twitter.com/intent/tweet?text={{ page.tweet | url_encode}}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
    <li><a href="http://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}&title={{ page.title | url_encode}}" rel="nofollow" target="_blank" title="Share on Facebook"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
    <li><a target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url | url_encode}}{{ page.url | url_encode}}&title={{ page.title }}&summary={{ page.tweet | url_encode}}&source={{ page.author | url_encode}}"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
  </ul>
</div>
