<div class="share-mobile">
  <ul>
    <li><p>Share:</p></li>
    <li><a href="https://twitter.com/intent/tweet?text={{ page.tweet | url_encode}}&url={{ site.url | url_encode}}{{ page.url | url_encode}}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
    <li><a id="shareBtn" target="_blank" href="{{ site.url }}{{ page.url }}"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
    <li><a target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}&title={{ page.title }}&summary=&source="><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
  </ul>
</div>
