
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '369302543429971',
      xfbml      : true,
      version    : 'v2.8'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>


<div class="share">
  <ul>
    <!-- <li><a target="_blank" href="https://twitter.com/home?status={{ page.tweet }}%20{{ site.url }}{{ page.url }}"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li> -->
        <li><a href="https://twitter.com/intent/tweet?text={{ page.tweet | url_encode}}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
    <li><a id="shareBtn" href="{{ site.url }}{{ page.url }}"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
    <li><a target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url | url_encode}}{{ page.url | url_encode}}&title={{ page.title }}&summary=&source="><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
  </ul>
</div>
