// blog list——used on the homepage and related post

.blog-list {
  padding-bottom: 6%;
}

  .blog-list > .col {
    @media #{$media-max-tablet}{
      float: none;
    }
  }

.blog-list-item {
  padding: 10px;
  box-shadow: 4px 15px 48px -13px rgba(1, 15, 14, 0.24);
  transition: .2s ease-out;
  background-color: white;
  &:hover {
    box-shadow: 4px 22px 58px -10px rgba(0, 43, 39, 0.55);
    transform: translateY(-2px)
  }
  @media #{$media-max-tablet}{
    margin-bottom: 3%;
  }
}

.blog-list-image {
  width: 100%;
  height: 105px;
  object-fit: cover;
  object-position: 50% 30%;
}

.blog-list-content {
  padding: 15px 14px 15px 14px;
  h3 {
    font-family: 'Playfair Display', serif;
    font-weight: 800;
    color: $grey;
    letter-spacing: 0.3px;
    margin-bottom: 6px;
    font-size: 19px;
    line-height: 24px;
  }
  > p {
      font-size: 13px;
      line-height: 21px;
      font-weight: 400;
      margin-top: 11px;
      margin-bottom: 0;
  }
}

.blog-list-wrapper {
padding: 3% 0 5% 0;
}

.blog-list-space {
  padding-bottom: 5%;
}

.push {
  margin-left: 4% !important;
  margin-right: -4% !important;
  @media #{$media-max-tablet}{
    display: none;
  }
}

// Blog item——used on the blog list page (look to restyle)

.blog-item {
  border: 1px solid #dcdcdc;
  padding: 30px 42px !important;
  margin: 28px 0;
  transition: .2s;
  @media #{$media-max-tablet}{
    padding: 20px 27px !important;
    margin: 17px auto 24px auto;
    width: 90% !important;
    float: none !important;
    display: block;
    position: relative;
    transition: .2s;
  }
  &:hover {
    border: 1px solid $maggie-green;
    box-shadow: 0px 28px 67px -21px rgba(13, 138, 131, 0.43);
    transform: translateY(-2px)
  }
}


.blog-item > h2 {
  font-family: 'Playfair Display', serif;
  color: $grey;
  font-size: 32px;
  line-height: 39px;
  margin-bottom: 10px;
    @media #{$media-max-tablet}{
      font-size: 29px;
      line-height: 38px;
    }
}
