.post-cat-list {
  margin: 0;
}

.post-cat-list li, .post-cat-list p {
    display: inline-block;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 2px;
    color: $grey;
    margin-bottom: 0;
}

.post-cat-list li {
  margin-right: 12px;
}

.box {
  height: 9px;
  width: 9px;
  border-radius: 2px;
  display: inline-block;
  margin-right: 2px;
  background-image: linear-gradient(-180deg, rgba(255, 255, 255, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
  background-blend-mode: overlay;
}

// home page categories

.post-cat-list-2 {
  margin-left: 0;
  margin-bottom: 6px;
  margin-top: 2px;
  li, p {
    display: inline-block;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 2px;
    color: $grey;
    margin-bottom: 0;
    line-height: 19px !important;
  }
  li {
      margin-right: 5px;
  }
}

.box-2 {
  height: 5px;
  width: 5px;
  border-radius: 2px;
  display: inline-block;
  background-image: linear-gradient(-180deg, rgba(255, 255, 255, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
  background-blend-mode: overlay;
  position: relative;
  top: -2px;
  margin-right: 2px;
}
