.modal-subscribe {
    max-height: none;
    width: 45%;
    border-radius: 6px;
    max-width: 500px;
  }

// .lean-overlay, .modal-subscribe {
//   @media #{$media-max-tablet}{
//     visibility: hidden;
//   }
// }


  @media only screen and (max-width: 992px){
    .modal {
        width: 95%;
      }
  }
