.navNew {
  background-color: transparent;
  position: absolute;
  box-shadow: none;



  a {
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 2.67px;
    text-transform: uppercase;
    color: black;
    padding: 0 24px;

    &:hover{
      background-color: inherit;
    }
  }
  
  
  ul li.active {
    background-color: inherit;
  }
  
  
  nav ul li {
      position: relative;
      background-color: inherit;
      &:hover{
        background-color: inherit;
      }
  }
}