.options-wrap {
  background-color: $blue-grey;
  padding: 2% 0;
  margin-top: 5%;
  position: relative;
  overflow: hidden;
    @media #{$media-max-tablet}{
        margin: 10% 0;
    }
}
.option-top-angle {
  position: absolute;
  height: 100%;
  z-index: 2;
  width: 150%;
  top: -25%;
  left: 34%;
  background-image: linear-gradient(-90deg, rgba(222,233,243,0.13) 7%, #DEE9F3 73%);
  transform: rotate(212deg);
  @media #{$media-max-tablet}{
    top: -58%;
  }
}

.option-bottom-angle {
  position: absolute;
  opacity: 0.67;
  transform: rotate(-32deg);
  background-image: linear-gradient(-90deg, rgba(255, 255, 255, 0.78) 7%, #DEE9F3 73%);
  height: 500px;
  width: 120%;
  bottom: -380px;
  left: 23px;
  z-index: 3;
  @media #{$media-max-tablet}{
    height: 500px;
    width: 140%;
    bottom: 91px;
    left: -187px;
  }
}

.option-row {
  margin: 6% 0;
  position: relative;
  z-index: 5;
}

.option {
  padding: 4.5% 6%
}

.option h3 {
  font-size: 26px;
  line-height: 32px;
  margin-bottom: 3px;
    @media #{$media-max-tablet}{
      font-size: 25px;
      line-height: 33px;
      margin-bottom: 4px;
    }
}

.option p {
  font-weight: 300;
  font-size: 15px;
  color: black;
  line-height: 23px;
  margin-bottom: 4%;
}

.option li {
  list-style-type: disc;
  color: $darkest-grey;
  font-size: 15px;
  margin-bottom: 2%;
  font-weight: 300;
}

.option ul {
  margin-bottom: 10px;
}

.single-option-wrap {
  position: relative;
  background-color: white;
  padding: 16px !important;
  box-shadow: 4px 24px 154px -30px rgba(2, 43, 41, 0.37);
  margin-right: 4%;
    @media screen and (min-width: 601px) {
    width: 48% !important;
    }
    @media #{$media-max-tablet}{
      margin: 3% 4% !important;
      padding: 12px !important;
    }
}

.single-option-wrap:nth-child(2) {
  margin-right: 0;
}

.option-banner {
  position: absolute;
  color: white;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 3px;
  background-color: #2c2c2c;
  padding: 8px 16px;
  border-radius: 2px;
  top: 9px;
  right: -28px;
  transform: rotate(18deg);
  box-shadow: 3px 5px 13px #00000033;
}
