.tstml {
  background-color: $blue-grey;
  padding: 5%;
  padding: 2% 5%;
  @media #{$media-max-l}{
    padding: 0;
  }
}

.tstml-wrapper {
  width: 84%;
  max-width: 1130px;
  margin: auto;
  padding: 30px 0px;
   @media #{$media-max-l}{
     width: 100%;
   }
}

.tstml-title {
  opacity: .9;
  @media #{$media-max-l}{
  text-align: center;
  }
}
.tstml-title img {
  width: 97px;
  margin-right: 2%;
  bottom: 4px;
  position: relative;
  @media #{$media-max-l}{
      display: none;
  }
}

.tstml-title h2 {
  font-family: 'Playfair Display', serif;
  color: black;
  font-size: 30px;
  line-height: 39px;
  margin-bottom: 10px;
}

.tstml-slide-wrapper {
  margin: auto;
  padding: 30px 0px;
  margin-top: 21px;
  @media #{$media-max-l}{
    padding-top: 0;
  }
}

.tstml-wrapper:focus {
    outline: 0;
  }

.tstml-image {
  width: 300px;
  height: 426px;
  float: left;
  margin-right: 6%;
  box-shadow: 4px 5px 24px -12px rgba(2, 43, 41, 0.62);
  margin-top: -43px;
  margin-bottom: 18px;
  @media #{$media-max-l}{
    display: none;
  }
}

.tstml-content-wrapper {
  background-color: white;
  padding: 36px;
  box-shadow: 4px 15px 48px -13px rgba(2, 43, 41, 0.37);
  margin-left: 64px;
  margin-top: 30px;
  @media #{$media-max-l}{
    margin-top: 0;
    margin-left: 0;
    padding: 16px;
  }
}

.tstml-content {
  border: 4px solid $maggie-gold;
  padding: 4.5%;
}

.tstml-content > h3 {
  font-family: 'Playfair Display', serif;
  font-weight: 800;
  color: $grey;
  font-size: 30px;
  line-height: 39px;
  margin-bottom: 10px;
}

.tstml-content a {
  text-decoration: none;
  color: $darkest-grey;
  font-weight: 700;
  transition: .3s;
  &:hover {
    color: $maggie-green;
  }
}

.tstml-content > p {
margin-bottom: 0;
}

.slider {
  height: auto;
}

.slider button:hover {
  box-shadow: none;
  transform: translateY(-66%);
}

.slider button:focus {
  color: inherit;
}

.slick-dots button:hover {
    transform: translateY(-3px);
}

.slider:focus, .slick-track:focus, .tstml-slide-wrapper:focus {
  outline: none;
}
