---
layout: default
---

{% include coaching/coaching-header.html %}
<div class="container">
  <div class="row">
    <div class="struggle-wrap">
      <div class=" col m6 coaching-struggle-wrap struggle-title">
        <div class="coaching-struggle tstml-content">
                {{ content }}
        </div>
      </div>
      <div class=" col m6 coaching-struggle-wrap struggle-bullets">
        <div class="coaching-struggle tstml-content">
                {{ page.content-bullets-text | markdownify }}
        </div>
      </div>
    </div>
  </div>
</div>

      {% include coaching/how-it-works.html  %}
      {% include coaching/options.html  %}

  <div id="sign-up">
    <div class="works-title discovery">
      <h2 class="coach-title">Discovery Call</h2>
          <p>Let's get started</p>
    </div>
    <div class="row acuity">
      {% include coaching/acuity.html  %}
    </div>
  </div>
