---
layout: default
---

{% include events/event-head.html %}

		<div class="container">
			<div class="row">
				<div class="col m12 event-content">
					<h2 class="event-date">{{ page.event-date | date: "%A, %B %d"  }} | {{ page.start-time }} – {{ page.end-time }} | {{ page.location }}
					<p> {{ content }} </p>
					<div class="ticket">
						<h2>Grab Your Ticket</h2>
						<h3>Ticket Price: {{ page.ticket-price }}</h3>
						<a target="_blank" href="{{ page.button-link }}"><button class="on-white">{{ page.button-text }}</button></a>
					</div>
				</div>
			</div>
		</div>
