<div id="hero">
{% include svg/clouds.svg %}
   <div class="bg-clouds">
      <img class="animate-from-bottom" src="/uploads/bg-clouds@2x.png">
   </div>
  <div class="cloud-9"></div>
  <div class="container hero-content-block valign-wrapper">
    <section class="valign">
      <div class="headline">
        <h1 class="animate-from-left line1">Achieve your</h1>
        <h1 class="animate-from-left line2">financial</h1>
        <h1 class="animate-from-left line3">dreams</h1>
      </div>
      <a href="/coaching/"><button class="hero-btn animate-from-left reversed two-button">Let's Work Together</button></a>
      <button data-target="modal-subscribe" class="hero-btn animate-from-left modal-trigger two-button" >Subscribe</button>
    </section>
  </div>
</div>
