<div id="hero">
{% include svg/clouds.svg %}
   <div class="bg-clouds">
      <img class="an-from-bottom" src="/uploads/bg-clouds@2x.png">
   </div>
  <div class="container hero-content-block valign-wrapper">
    <section class="valign">
      <div class="headline">
        <h1 class="an-from-left an-step-1 delay-04 line1">Achieve your</h1>
        <h1 class="an-from-left an-step-2 delay-05 line2">financial</h1>
        <h1 class="an-from-left an-step-3 delay-06 line3">dreams</h1>
      </div>
      <a href="/coaching/"><button class="hero-btn an-from-left an-step-4 delay-07 reversed two-button">Let's Work Together</button></a>
      <button data-target="modal-subscribe" class="hero-btn an-from-left an-step-4 delay-07 modal-trigger two-button" >Subscribe</button>
    </section>
  </div>
</div>
