<ul class= "post-cat-list-2">
  {% for post_cat in post.categories limit:3 %}
    {% assign post_cat-title = post_cat | downcase %}
      {% for site_cat in site.categories  %}
        {% assign color = site_cat.color %}
        {% assign site_cat-title = site_cat.title | downcase %}
          {% if site_cat-title == post_cat-title  %}
              <li>
                  <div class="box-2" style="background-color: {{ color | default 'blue'}}"></div>
                  <p>
                    {{ post_cat-title }}
                  </p>
              </li>
           {% endif %}
           {% endfor %}
          {% endfor %}
  </ul>
