<div class="tstml">
    <div class="tstml-wrapper">
      <div class="tstml-title">
        <img src="/uploads/testimonial-arrow.png" alt="">
        <h2 class="tstml-title">Testimonials</h2>
      </div>
      <div class="row">
        <div class="slider single-item">
        {% assign testis-sort = site.testimonials | sort: "position" %}
          {% for testimonial in testis-sort limit: 4 %}
          <div class="tstml-slide-wrapper">
            <div class="col m10 nofloat">
              <div class="tstml-image cover desaturate" style="background-image: url('{{ testimonial.image }}');">
              </div>
              <div class="tstml-content-wrapper">
                <div class="tstml-content">
                  <h3>{{ testimonial.title }}</h3>
                  <p>{{ testimonial.content }}</p>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
</div>
{% include js/slick.html %}
